.image-bar {
  width: 100vw;
  height: 90vh;
  margin: 0 auto;
  background-color: black;
  margin-top: 10vh;
}
.sliderstyles {
  height: 100%;
  position: relative;
}

.slidestyles {
  height: 100%;
  width: 100%;
  transition: background-image 0.5s ease-in-out;
  background-position: center;
  background-size: cover;
}
.nextbutton {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  right: 0.5vw;
  z-index: 1;
  cursor: pointer;
  font-size: 10vh;
}
.previousbutton {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  left: 0.5vw;
  z-index: 1;
  cursor: pointer;
  font-size: 10vh;
}
@media (max-width: 600px) {
  .image-bar {
    height: 30vh;
    margin-top: 20vh;
  }

  .nextbutton{
    font-size: 5vh;
  }
  .previousbutton{
    font-size: 5vh;
  }
}
