@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');


body{
  background-color: rgb(203, 224, 224);
  margin-top: 10vh;
  z-index: 1000;
  
}

@media(max-width:600px) {
  body{
    margin-top: 14vh;
  }
  
}

